<div class="about-us-text-content mb30">

      <h4> How we operate</h4>
    <ul class="fund-arrow-left-list pdb10">
        <li> CISA works as a not-for-profit organization but may rely for donations to run its operations.</li>
        <li> CISA will conceive of projects and initiatives,
          mobilize funding and engage professionals or specialist suppliers,
          solutions and services providers.</li>
        <li>CISA will project manage the delivery of projects as part of its
           contribution to ensure effective use of resources entrusted by its donors.</li>
        <li> CISA will provide responsible, accurate and regular updates to donors about programs</li>
        <li> CISA will operate an online secretariat and provide most of its services online. </li>
        <li> CISA will not commit more than 10% of any donations to run its own operations </li>
        <li> CISA’s governance structure will be based on a founding Board of Trustees and a small
          management team. Other operational details will be developed by this team</li>
    </ul>

</div>
