<div class="about-us-text-content mb30">
    <h4> MEMBERSHIP </h4>
    <p>CISA membership is open to anyone who shares a passion for creating actively
       safe environments and is willing to commit skills, experience and mobilize
        resources to support the use of technology in defense, security and law enforcement
    </p>

</div>
