<div class="about-us-text-content mb30">
    <!-- <h4>WE ARE NON PROFIT</h4>
    <p>The Community Initiative for a Safer Africa (CISA) is a not for profit,
      think-tank and promoter of security solutions using modern technology.
      Security technology here refers primarily to the knowledge and collection of skills,
      methods, processes used in the production of security tools,
      and services or in the accomplishment of security objectives.</p> -->
      <h4> Our Objectives are</h4>
    <ul class="fund-arrow-left-list pdb10">
        <li>To contribute ideas and develop technology solutions for local,
           national and regional law enforcement and security institutions</li>
        <li>To mobilize support and resources for the deployment and adoption of technology solutions in local,
           national and regional law enforcement and security institutions.</li>
        <li>To build capacity in and sensitize key stakeholders on the need
           for effective technology enabled solutions to prevent and fight crime</li>
        <li> To advocate for increased use of technology enabled solutions in
          crime prevention, law enforcement and criminal investigation</li>
    </ul>

</div>
