<div class="about-us-text-content mb30">
    <h4> OUR SCOPE</h4>
    <p>CISA’s scope of concern is limited to safety of life and property as
      entrusted to people, communities as well as public and private sector law
      enforcement institutions.
    </p>

</div>
