<section class="counter-section all-text-white section-padding">
    <div class="container">
        <div class="row pdt15">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item">
                    <div class="counter-item__icon-wrap">
                      <%= image_tag('about/icon-maney.png', class: "counter-item__icon", alt: "") %>
                        <span class="counter-item__label">Donation</span>
                    </div>
                    <div class="counter-item__count-wrap">
                        ₦ <span class="counter-item__count">50</span>M+
                    </div>
                </div><!--/.counter-item-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item">
                    <div class="counter-item__icon-wrap">
                      <%= image_tag('about/icon-hand.png', class: "counter-item__icon", alt: "") %>
                        <span class="counter-item__label">Volunteers</span>
                    </div>
                    <div class="counter-item__count-wrap">
                        <span class="counter-item__count">250</span>+
                    </div>
                </div><!--/.counter-item-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item">
                    <div class="counter-item__icon-wrap">
                      <%= image_tag('about/icon-man.png', class: "counter-item__icon", alt: "") %>
                        <span class="counter-item__label">Beneficiaries</span>
                    </div>
                    <div class="counter-item__count-wrap">
                        <span class="counter-item__count">4000</span>+
                    </div>
                </div><!--/.counter-item-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item">
                    <div class="counter-item__icon-wrap">
                      <%= image_tag('about/icon-country.png', class: "counter-item__icon", alt: "") %>
                        <span class="counter-item__label">Causes</span>
                    </div>
                    <div class="counter-item__count-wrap">
                        <span class="counter-item__count">20</span>+
                    </div>
                </div><!--/.counter-item-->
            </div>
        </div>
    </div>
</section>
