<section class="section-padding feature-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">Our <span class="base-color">Programs</span> </h2>
                    <span class="section-sub-title wow fadeInUpXsd disinb" data-wow-duration=".9s" data-wow-delay=".1s">A non-profit organization dedicated to promoting the use of technology in crime prevention </span>
                    <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                </div>
            </div>
        </div>
    <div class="row row-eq-rs-height">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                <div class="feature-item__icon-wrap">
                    <i class="feature-item__icon fa fa-book"></i>
                </div>
                <h4 class="feature-item__title heading-label-four"><a href="#">COMMUNITY POLICING</a></h4>
            <p> Involves the use of partnerships between local agencies, businesses, individuals, non-profit groups and the media.
            </p>
            </div><!--/.feature-item-->
        </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-cutlery"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">COMMUNITY IMPROVEMENT</a></h4>
                    <p>To mobilize community support and resources for the deployment and adoption of technology solutions in local, national and security institution.
 </p>
                </div><!--/.feature-item-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-home"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">SOURCE FOR FUNDS</a></h4>
                    <p>To help build capacity in and sensitize key stakeholders on the need for effective technology enabled solutions to prevent and fight crime.
 </p>
                </div><!--/.feature-item-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-sun-o"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">BETTER APPROACH TO CRIME PREVENTION</a></h4>
                    <p>To advocate for more holistic approaches to foster positive changes in crime prevention, law enforcement and criminal investigation. 
 </p>
                </div><!--/.feature-item-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-gift"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">CYBER CRIME/DIGITAL FORENSIC LABORATORY</a></h4>
                    <p>Help to facilitate the establishment and operation of a Special Police Cyber-Crime laboratory focused at community safety.  </p>
                </div><!--/.feature-item-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-heartbeat"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">FAMILY EMPOWERMENT</a></h4>
                    <p>Facilitation of loans and business development services for small/medium scale businesses of police oﬃcers’ wives. Covers loans between N2million and N10million and coordinated with PoWA
</p>
                </div><!--/.feature-item-->
            </div>
        </div>
    </div>
</section>
