<section class="help-us-section section-padding all-text-white">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-heading text-center">
                     <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">HOW CAN YOU HELP <span class="base-color">US</span> </h2>
                     <span class="section-sub-title wow fadeInUpXsd disinb" data-wow-duration=".9s" data-wow-delay=".1s">there are several ways in which you can be of assistance to us:</span>
                     <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-4 col-xs-12">
                 <div class="help-us wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                     <div class="help-us__icon-wrap">
                         <i class="help-us__icon fa fa-users"></i>
                     </div>
                     <div class="help-us__text-content">
                         <h4 class="help-us__title heading-label-four">BECOME VOLUNTEER</h4>
                         <p>We need a wide variety of volunteers for short- and long-term positions, both in the states where we work and at home</p>
                         <a href="#" class="btn">Learn More</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-xs-12">
                 <div class="help-us wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                     <div class="help-us__icon-wrap">
                         <i class="help-us__icon fa fa-money"></i>
                     </div>
                     <div class="help-us__text-content">
                         <h4 class="help-us__title heading-label-four">BECOME A SPONSOR</h4>
                         <p>Give Yourself a Valuable Advantage, by being Among our Sponsors</p>
                         <a href="#" class="btn">Learn More</a>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-xs-12">
                 <div class="help-us wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                     <div class="help-us__icon-wrap">
                         <i class="help-us__icon fa fa-child"></i>
                     </div>
                     <div class="help-us__text-content">
                         <h4 class="help-us__title heading-label-four">START A CAUSE</h4>
                         <p>Start a Campaign Today and allow people to donate to it</p>
                         <a href="#" class="btn">Learn More</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
