<% content_for(:bottom_js) do %>
  <%= javascript_include_tag 'merchants-manifest' %>
<% end %>

<% content_for(:page_content) do %>
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Invoice</h3>
              </div>


            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>invoice #<%= invoice.id %></h2>
                 
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <p>Invoice details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
<% end %>