<div class="upcomming-event">
    <div class="upcomming-event__image-wrap">
        <%= image_tag('home/event-1.jpg', class: 'upcomming-event__image',alt: "event") %>
        <div class="upcomming-event__date">
            <i class="fa fa-calendar"></i>
            <span>21 jan</span>
        </div>
    </div>
    <div class="upcomming-event__text-content">
        <h4 class="upcomming-event__title"><a href="#">EDUCATION NEEDED</a></h4>
        <div class="upcomming-event__meta-info">
            <span class="upcomming-event__time"><i class="fa fa-clock-o base-color"></i>9.00 AM - 11.00 PM  </span>
            <span class="upcomming-event__place"><i class="fa fa-map-marker base-color"></i>29 Newyork City</span>
        </div>
        <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits</p>
    </div>
</div><!--/.upcomming-event-->
