<div class="contact-address">
    <div class="contact-address-item">
        <span class="icon-wrap"><i class="fa fa-map-marker contact-icon"></i></span>
        <div class="text-content">
            <div class="base-color contact-title">Office Location</div>
            310 CBD Abuja, Nigeria
        </div>
    </div><!--/.contact-address-item-->
    <div class="contact-address-item">
        <span class="icon-wrap"><i class="fa fa-phone contact-icon"></i></span>
        <div class="text-content">
            <div class="base-color contact-title">Contact Number</div>
            08094251247
        </div>
    </div><!--/.contact-address-item-->
    <div class="contact-address-item">
        <span class="icon-wrap"><i class="fa fa-envelope contact-icon"></i></span>
        <div class="text-content">
            <div class="base-color contact-title">Contact Mail</div>
           ask@cisafrica.org<br/>
        </div>
    </div><!--/.contact-address-item-->

    <div class="contact-address-item">
        <span class="icon-wrap"><i class="fa fa-map-marker contact-icon"></i></span>
        <div class="text-content">
            <div class="base-color contact-title">Website</div>
            www.cisafrica.org<br/>
        </div>
    </div><!--/.contact-address-item-->
</div>
