<section class="section-padding">
    <div class="col-md-12">
        <div class="section-heading text-center">
            <h2 class="section-title">Get in <span class="base-color">touch</span> </h2>
            <span class="section-sub-title">you can reach us by sending a message using the form below and an agent will contact you</span>
            <div class="section-heading-separator"></div>
        </div>
    </div>

    <div class="container no-padding">
        <div class="main-contact">
            <%=  render 'contact_us/contact_form' %>
            <%= render 'contact_us/contact_address' %>
        </div>
    </div>
</section>
