<h3>Dear Admin</h3>

<p>
 There has been a recent donation to the program named <%= @program.title %>  <br />
  <strong>Campaign Details</strong> <br />
  <strong>amount  </strong><%= @program.donation.amount %><br />
  <strong> :  </strong><%= @program.description %><br />

</p>
