<div class="main-menu-area">
   <%= render "home/common/main_menu" %>
</div>

<div class="banner-area banner-area--blog all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">BLOG</h1>
            </div>
        </div>
    </div>
</div>

<%= render 'home/blog/blog_main_content_section' %>
