<div class="main-menu-area">
   <%= render "home/common/main_menu" %>
</div>

<div class="banner-area banner-area--causes all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">CAUSES</h1>
            </div>
        </div>
    </div>
</div>

<%= render 'home/causes/causes_main_content' %>
