 <div class="main-menu-area">
    <%= render "home/common/main_menu" %>
 </div>

<style type="text/css">
	#floater: {
    float: left;
    overflow: hidden;
    display: inline-block;
  }
  .btn: {
    float: left;
    overflow: hidden;
    display: inline-block;
  }
  .sticky2 {
    position: fixed;
  }
</style>
<div class="banner-area banner-area--events all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<h1 class="page-title" style="padding-top: 100px;">Donate to any Program of your choice below</h1>
               
            </div>
        </div>
    </div>
</div>

<%= render 'home/programs/programs_main_content' %>
