<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear &nbsp;Admin, A Customer/User named <%=@full_name%> made an enquiry </h3>
    <p>
     Here are the details
    </p>
    <center>
      <h2><%= @subject %></h2>
      <br>
      <p> <%= @message %></p>
    </center>
    
    <p>Do have a great day!</p>
  </body>
</html>