<h3>Dear Admin</h3>

<p>
  This Campaign has its goals fullfilled<br />
  <strong>Campaign Details</strong> <br />
  <strong> Creator:  </strong><%= @fullname %><br />
 
  <strong> Goal:  </strong><%=  number_to_currency @goal %><br />
  
</p>
