<div id="overlay"></div>
 <%= image_tag('global_loader.gif', class: "loader_image") %>
<style type="text/css">
        #overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.loader_image {
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 231;
    width : 132px;
    height : 132px;
    margin-left : -16px;
    margin-top : -16px;
    }
        .success_modal_pretty {
        position : absolute;
        z-index : 400;
        background-color: white;
        /* Add shadows to create the "card" effect */
        box-shadow: 10px 24px 28px 10px rgba(0,0,0,0.4);
        transition: 0.3s;
        border-radius: 25px 25px 25px 25px;
        width: 300px;
        height: 200px;
        left : 35%;
        top : 30%;
    }
     .anonymous_success_msg {
      padding: 25px;
    }
</style>
<div class="section-heading">
    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">MAKE A <span class="base-color">DONATION</span></h2>
    <div class="section-heading-separator section-heading-separator--left-align wow fadeInUpXsd" data-wow-duration=".9s" data-wow-delay=".1s"></div>
</div>
<div class="donation-wrap wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
    <p>Quick donation to different programs, which would be greatly appreciated</p>
    <form class="donation-form">
 <script src="https://js.paystack.co/v1/inline.js"></script>
        <div class="input-group">
            <label class="input-group__label">I Want To Donate For</label>
            <select class="input-group__select hide-search--dropdown" id="myProgram">
                <% @program_all.each do |program| %>
                  <option value="<%=program.id %>"><%= program.title %></option>
                <% end %>
            </select>
        </div>

        <div class="input-group">
            <label class="input-group__label">How Much Do You Want To Donate?</label>
            <select class="pament-select input-group__select" id="myAmount">
                <option value="200">₦200</option>
                <option value="500">₦500</option>
                <option value="1000">₦1000</option>
                <option value="2000">₦2000</option>
                <option value="5000">₦5000</option>
                <option value="10000">₦10000</option>
                <option value="20000">₦20000</option>
                <option value="30000">₦30000</option>
                <option value="40000">₦40000</option>
                <option value="50000">₦50000</option>
                <option value="100000">₦100000</option>
                <option value="200000">₦200000</option>

            </select>
        </div>
        <div class="input-group">
             <label class="input-group__label">Your Email for Confirmation</label>
            <input type="text" id="myEmail" name="Email" class="input-group__input form-control" required>
        </div>

        <button type="button" onclick="payWithPaystack()" class="btn" id="makePayment"> Donate Now </button>
    </form>
</div>

<div class="success_modal_pretty">
  <div class="content_msg">
   <center>
    <h3 class="anonymous_success_msg"> Thanks for your Generous Donation, You Identity remains Anonymous</h3>
   </center>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    $('.success_modal_pretty').hide();
    $('.loader_image').hide()
    $('.success_msg').hide()
    $('#overlay').hide()
});
// function getme() {
//     var amount = $('#myAmount').val();
//     var program = $('#myProgram').val();
//     var email = $('#myEmail').val();
//     console.log("amount", amount, "email", email)
// }
    function payWithPaystack(){
    // $('.loader_image').show()
    $('#overlay').show()
    $( ":input" ).prop('disabled', true);
    var response_reference = undefined
    var amount = $('#myAmount').val();
    var program_id = $('#myProgram').val();
    var user_email = $('#myEmail').val();
    var parsed_amount = amount + '00'
    var parsed_float = parseFloat(parsed_amount)
    var handler = PaystackPop.setup({
      key: 'pk_test_07f9b2e4b6fa9278e6ceb8e9d3d0a024c33b5dc1',
      email: user_email,
      amount: parsed_float,
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: "+2348012345678"
            }
         ]
      },
      callback: function(response){
          var response_reference = response.reference
          var amount = $('#myAmount').val();
          var program_id = $('#myProgram').val();
          var user_email = $('#myEmail').val();
           if(response_reference != undefined){
            console.log("this is the reference", response_reference);
          // start
            $.ajax({
              url:'/anonymous_donation',
              type:'POST',
              dataType:'json',
              data:{
                response_reference: response_reference,
                amount: amount,
                user_email: user_email,
                program_id: program_id,
                authenticity_token: window._token
                },
              success:function(data){
                console.log(data)
                $('.loader_image').hide()
                $('.success_modal_pretty').show().delay(3000).fadeOut();
                $('#overlay').show().delay(2000).fadeOut();
              },
              error:function(data){
                console.log(data)
                 $('.loader_image').hide();
                 // $('#overlay').hide()

              }
            });
          }
            //end
      },
      onClose: function(){
          alert('window closed');
           $('.loader_image').hide()
           $('#overlay').hide()
            $( ":input" ).prop('disabled', false);
      }
    });
    handler.openIframe();
  }
    </script>
