<div class="join-us-section all-text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="join-us wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
                    <div class="join-us__text-content">
                        <h4 class="join-us__title">DO YOU WANT TO LIVE IN A SAFER COMMUNITY?</h4>                
                        <p>Support us today by joining Us in making the community a safer Environment</p>
                    </div>
                    <div class="pdb30 pdt10">
                        <a href="#" class="btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
