<div class="widget widget--tags">
    <div class="widget__heading">
        <h4 class="widget__title">TAGS</h4>
    </div>
    <div class="widget__text-content">
        <a href="#">Charity</a>
        <a href="#">Health</a>
        <a href="#">Hospital</a>
        <a href="#">iOS</a>
        <a href="#">Doctor</a>
        <a href="#">Donate</a>
        <a href="#">Medical</a>
        <a href="#">Children</a>
        <a href="#">Clinic</a>
        <a href="#">Helping</a>
    </div>
</div>
