<%
meta title: "Community Initiative For a Safer Africa | ",
     description: "CISA"
%>
<% content_for(:page_content) do %>
<!-- page content -->
<div class="right_col" role="main">
  <div class="">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Campaigns  </h2>

            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <h1>New Campaign</h1>

            <%= render 'form', campaign: @campaign %>

            <%= link_to 'Back', campaigns_path %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
<% end %>
