/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require gentelella/jquery-jvectormap-2.0.3
 *= require bootstrap/css/bootstrap.min
 *= require nprogress/nprogress
 *= require css/font-awesome.min
 * require font-awesome/css/font-awesome.min
 *= require datatables.net-bs/css/dataTables.bootstrap.min
 *= require datatables.net-buttons-bs/css/buttons.bootstrap.min
 *= require datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min
 *= require datatables.net-responsive-bs/css/responsive.bootstrap.min
 *= require datatables.net-scroller-bs/css/scroller.bootstrap.min

 *= require pnotify/dist/pnotify
 *= require pnotify/dist/pnotify.buttons
 *= require pnotify/dist/pnotify.nonblock
 *= require custom.min
 */

 .merchant-red-link{
 	color:red;
 }
 .merchant-red-link:hover{
 	color:green;
 }

 .field_with_errors .message{
 	color: red !important;
 }
