<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear &nbsp;<%= @admin_name%> there has been a donation to Your campaign: <%= @campaign_name %> </h2>
    <p>
     because of the generous donation you are getting closer to Your Goal which has increased to: <%= @current_realized %>
    </p>
    <h4> Your Campaign Story</h4>
    <p> <%= @campaign_story %></p>
    
    <p>Do have a great day!</p>
  </body>
</html>