<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear Super Admin there has been a donation to This campaign: <%= @campaign_name %> </h2>
    <p>
     because of the generous donation the current realized amount is: <%= @current_realized %>
    </p>
 <h4> Program description</h4>
    <p> <%= @program.description %></p>
    
    <p>Do have a great day!</p>
  </body>
</html>